// #container {
//   text-align: center;

//   position: absolute;
//   left: 0;
//   right: 0;
//   top: 50%;
//   transform: translateY(-50%);
// }

// #container strong {
//   font-size: 20px;
//   line-height: 26px;
// }

// #container p {
//   font-size: 16px;
//   line-height: 22px;

//   color: #8c8c8c;

//   margin: 0;
// }

// #container a {
//   text-decoration: none;
// }

action-sheet-home-page {
  .ion-md-share {
    color: rgb(38, 241, 11);
  }

  .ion-md-arrow-drop right-circle {
    color: rgb(240, 34, 137);
  }

  .ion-md-heart-outline {
    color: rgba(31, 133, 60, 0.904);
  }

  .action-sheet-cancel ion-icon,
  .action-sheet-destructive ion-icon {
    color: #e61010;
  }

}
